/*
/* Type
/* ========================= */

/* Web Font
/* ------------------------- */

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src:    local('Quicksand Regular'),
            local('Quicksand-Regular'),
            url('../font/Quicksand-Regular.woff') format('woff'),
            url('../font/Quicksand-Regular.woff2') format('woff2');
    unicode-range:  U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F,
                    U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src:    local('Raleway Light'),
            local('Raleway-Light'),
            url('../font/Raleway-Light.woff') format('woff'),
            url('../font/Raleway-Light.woff2') format('woff2');
    unicode-range:  U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F,
                    U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src:    local('Raleway'),
            local('Raleway-Regular'),
            url('../font/Raleway-Regular.woff') format('woff'),
            url('../font/Raleway-Regular.woff2') format('woff2');
    unicode-range:  U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F,
                    U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src:    local('Raleway Bold'),
            local('Raleway-Bold'),
            url('../font/Raleway-Bold.woff') format('woff'),
            url('../font/Raleway-Bold.woff2') format('woff2');
    unicode-range:  U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F,
                    U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/* Base
/* ------------------------- */

body {
    font-family: "Raleway", Helvetica, Arial,
                 "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: $color-brand-black;
    background-color: #fff;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Heading
/* ------------------------- */

h1, .h1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 1.1;}


/* Tltle
/* ------------------------- */

.title {
    font-weight: 300;
    text-transform: uppercase;
}
