/*
/* Type
/* ========================= */

/* Base
/* ------------------------- */

@font-face {
  font-family: 'MICR E';
  font-style: normal;
  src: local('MICR E Regular'),
       local('MICR-E-Regular'),
       url(../fonts/MICR-E.woff) format('woff');
}

@font-face {
    font-family: 'Greycliff CF';
    font-style: normal;
    font-weight: 300;
    src: local('Greycliff CF Light'),
         local('Greycliff-CF-Light'),
         url(../fonts/Greycliff-CF-Light.woff2) format('woff2'),
         url(../fonts/Greycliff-CF-Light.woff) format('woff');
}

@font-face {
    font-family: 'Greycliff CF';
    font-style: normal;
    font-weight: 400;
    src: local('Greycliff CF Regular'),
         local('Greycliff-CF-Regular'),
         url(../fonts/Greycliff-CF-Regular.woff2) format('woff2'),
         url(../fonts/Greycliff-CF-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Greycliff CF';
    font-style: normal;
    font-weight: 600;
    src: local('Greycliff CF Demi Bold'),
         local('Greycliff-CF-Demi-Bold'),
         url(../fonts/Greycliff-CF-Demi-Bold.woff2) format('woff2'),
         url(../fonts/Greycliff-CF-Demi-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Greycliff CF';
    font-style: normal;
    font-weight: 700;
    src: local('Greycliff CF Bold'),
         local('Greycliff-CF-Bold'),
         url(../fonts/Greycliff-CF-Bold.woff2) format('woff2'),
         url(../fonts/Greycliff-CF-Bold.woff) format('woff');
}

body {
    font-family: "Greycliff CF", Helvetica, Arial,
                 "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    color: $color-body-text;
    background-color: #fff;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.type-serif { font-family: "Times New Roman", Times, Georgia, sans-serif; }

/* Heading
/* ------------------------- */

h1, .h1 {
    font-size: 60px;
    font-weight: 400;
    line-height: 1.1;}

h1, h2, h3, h4, h5, th,
.h1, .h2, .h3, .h4, .h5, .th {
    color: $color-heading;
}

h2, .h2 {
    font-size: 28px;
    line-height: 1.1;
    font-weight: 400;
}

h3, .h3 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
}


h4, .h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: .015em;
}

h5, .h5 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .015em;
}

.small-text {
    font-size: 12px;
    line-height: 1.5;
}

/* Paragrah
/* ------------------------- */

.text p { margin-bottom: 1em; }
