/*
/* Navigation
/* ========================= */

.nav {
    background-color: #000;

    ul {
        font-size: 0;
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }

    li {
        display: inline-block;
        width: 25%;
    }

    a {
        text-align: center;
        text-transform: uppercase;
        display: block;
        padding-top: 12px;
        padding-bottom: 12px;
        color: #fff;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 14px;
        transition: background-color .3s linear;

        &:hover { background-color: $color-brand-pink; }
    }
}