a(href= "/" + lan + "/" +"index.html")
    img.header-logo(
        src="/img/logo-binsai-shoes-630x64.png"
        alt="Binsai Shoes logo"
        width="315"
        height="32")

include ../mod/nav.pug