//- Header

a(href= "/" + lan + "/" +"index.html").header-logo
    img(
        src="/img/logo-binsai-shoes-630x64.png"
        alt="Binsai Shoes logo"
        width="315"
        height="32")

p.lan-swtich
    a.lan-swtich-link(href= "/" + nav.cgLan.url + "/" +"about.html")
        Home English / 中文

include ../mod/nav.pug