/*
/* Contact Us
/* ========================= */

.contact .nav-contact { background-color: $color-brand-pink; }

.contact .title {
    margin-top: 100px;
    margin-bottom: 60px;
    margin-left: 150px;

    &:after {
        max-width: 200px;
        right: 2px;
    }
}

.contact-box {
    font-size: 30px;
    text-transform: uppercase;
    font-family: Quicksand;
    background-color: $color-brand-black;
    color: #fff;
    padding-top: 90px;
    padding-bottom: 90px;
    margin-left: 80px;
    margin-right: 80px;


    ul {
        list-style: none;
        text-align: center;
        margin-left: 1em;
        margin-right: 1em;
    }
}