/*
/* Index Page
/* ========================= */

/* Hero
/* ------------------------- */


.index-hero {
    background: #f5f6fb url(../img/hero-home-1-1600x746.jpg) center center no-repeat;
    background-size: cover;
    height: calc(100vw / 1600 * 746);
    overflow: hidden;
}

.index-hero-container {
    position: relative;
    top: 26%;
    right: -29%;
}

.index-hero-text {
    text-align: center;
    margin: 0;
}