/*
/* Index Page
/* ========================= */

/* Hero
/* ------------------------- */

.index-hero {
    background-size: cover;
    height: calc(100vw / 1600 * 750);
    max-height: 750px;

    @include breakpoint(1.5) { height: 300px; }
}

.index-hero-container {}

.index-hero .index-hero-item {
    width: 100%!important;
    overflow: hidden!important;
}

.index-hero-text {
    position: absolute;
    text-align: center;
    right: 6%;
    top: 24%;
    z-index: 1;

    @include breakpoint(2) {
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(calc(-50% - 10px));
        background: rgba(255, 255, 255, .7);
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
        padding: .5em;
    }

    @include breakpoint(1.5) {
        font-size: 8vw;
        width: calc(100vw - 1.5em);
    }

    @include breakpoint(1) {
        padding: 1em .2em;
        font-size: 9vw;
    }
}

.index-hero .index-hero-img {
    @include breakpoint(1.5) {
        height: 300px;
        width: auto;
        display: block;
        max-width: none;
        transform: translateX(-50%);
        margin-left: 50vw;
    }
}

/* Footer
/* ------------------------- */

.index .footer {
    margin-top: 30px;
    margin-bottom: 30px;
}