extends layout/default.pug


block head
    title= index.header.title

    - var pageClass = "index"

block content
    div.index-hero
        div.index-hero-container
            h1(class="index-hero-text")
                span= index.body.slogan_line1
                br
                span= index.body.slogan_line2




