extends layout/default.pug

block head
    title= index.head.title

    - var pageClass = "index"

block content
    div.index-hero
        ul.index-hero-container
            li.index-hero-item
                //- h1(class="index-hero-text")
                //-     span= index.main.slogan_l1
                //-     br
                //-     span= index.main.slogan_l2
                img.index-hero-img(src="../img/hero-home-1-1600x750.jpg")
            li.index-hero-item
                img.index-hero-img(src="../img/hero-home-2-1600x750.jpg")
            li.index-hero-item
                img.index-hero-img(src="../img/hero-home-3-1600x750.jpg")
            li.index-hero-item
                img.index-hero-img(src="../img/hero-home-4-1600x750.jpg")
