doctype html
html
  head
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/scripts.js')

  body
    include mod/nav.pug

    h1= home.header.title
    h2= home.header.subtitle

    p
        input(name="hi and there")
        input(name="hi and there")
        input(name="hi and there")


