extends layout/default.pug

block head
    title= product.head.title

    - var pageClass = "product"

block content
    div.product-dev
        div.container
            div.product-dev-text
                h1.title= product.main.title
                p.dev_info.text= product.main.dev_info
            div.product-dev-img

    div.product-arrow
        p.product-arrow-text= product.main.arrow