ul
    li
        a(href= "/" + lan + "/" + "index.html")
            p= nav.home
    li
        a(href= "/" + lan + "/" +"about.html")
            p= nav.about
    li
        a(href= "/" + nav.cgLan.url + "/" +"about.html")
            Home= nav.cgLan.name