//- Navigation

div.nav
    ul
        li
            a(href= "/" + lan + "/" +"about.html").linear
                t= nav.about

        li
            a(href= "/" + lan + "/" +"product.html")
                t= nav.product

        li
            a(href= "/" + lan + "/" +"contact.html")
                t= nav.contact


        //- li
        //-     a(href= "/" + nav.cgLan.url + "/" +"about.html")
        //-         Home= nav.cgLan.name