/*
/* Header
/* ========================= */

.header {
    border-top: 8px solid $color-brand-black;
    margin-top: 12px;
    position: relative;
}

.header-logo {
    display: block;
    max-width: 315px;
    margin-top: 65px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;

    &:hover {
        opacity: .75;
        transition: opacity .3s linear;
    }

    img {
        width: 100%;
        height: auto;
    }
}

/* Language Swtich
/* ------------------------- */

.lan-swtich {
    position: absolute;
    bottom: 50px;
    padding-right: 1em;
    width: 100%;
    max-width: 1600px;
    text-align: right;
    left: 0;
    right: 0;
}

.lan-swtich-link {
    color: $color-brand-black;

    @include breakpoint(1) {
        font-size: 12px;
    }
}